<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <div class="col-md-12">
      <div class="tab-content">
          <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
              <div class="main-card mb-3 card">
                  <div class="card-body"><h5 class="card-title">{{user.username}} Password Create Form</h5>

                      <form class="" method="POST">
                        {% csrf_token %}
                        {% if messages %}
                          {% for message in messages %}
                            {% if 'addmemerror' in message.tags %}
                        <div class="form-row">
                            <div class="col-md-6">{{ message }}</div>
                            </div>
                              {% endif %}
                            {% endfor %}
                        {% endif %}
                          <div class="form-row">
                              <div class="col-md-6">
                                  <div class="">{{ form.application_service_name  }}</div>
                              </div>
                              <div class="col-md-6">
                                  <div class="">{{ form.application_service_url  }}</div>
                              </div>
                          </div>
                          <div class="form-row">
                              <div class="col-md-6">
                                  <div class="">{{ form.registered_username }}</div>
                              </div>
                              <div class="col-md-6">
                                  <div class="">{{ form.registered_email_address }}</div>
                              </div>
                          </div>
                        <input class="btn btn-success" type="submit" name="" value="submit">
                      </form>
                  </div>
              </div>
            </div>
          </div>
        </div>

  </body>
</html>
