<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Password, Manager, Password Manager">
    <meta name="author" content="PaperCode C.S">
    <meta name="description" content="This is a free password management site which enables users to effortlessly create, store and manage secure qr code hashed passwords">

    <title>DASHBOARD - ПАРОЛЬ SICHERHEIT</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">

    <!-- Custom stlylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/popups.css' %}">

    <style media="screen">

    .banner {
      padding: 3rem;
      text-align: center;
      background-image: url("{% static 'images/hand1.png' %}");
      background-size: cover;
      background-position: center;
      border-radius: 10px;
    }
    </style>


  </head>
  <body>

    <div class="wrapper">
      <nav class="nav">
        <ul class="nav_list" role="menubar">
          <li class="nav_item nav_item--isActive">
            <a href="{% url 'home' %}" class="nav_link focus--box-shadow"  role="menuitem" aria-label="Home">
              <svg
                class="nav_icon"
                xmlns="https://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                role="presentation">

                <path
                  d="M20,8h0L14,2.74a3,3,0,0,0-4,0L4,8a3,3,0,0,0-1,2.26V19a3,3,0,0,0,3,3H18a3,3,0,0,0,3-3V10.25A3,3,0,0,0,20,8ZM14,
                  20H10V15a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1Zm5-1a1,1,0,0,1-1,1H16V15a3,3,0,0,0-3-3H11a3,3,0,0,0-3,3V5H6a1,1,0,0,1-1-1V10.25a1,1,
                  0,0,1,.34-.75l6-5.25a1,1,0,0,1,1.32,0l6,5.25a1,1,0,0,1,.34.75Z"
                />
              </svg>
            </a>
          </li>


          <li class="nav_item">
            <a href="#" class="nav_link focus--box-shadow"  role="menuitem" aria-label="Favourite">
              <svg
                class="nav_icon"
                xmlns="https://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                role="presentation">

                <path
                  d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,
                  1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,
                  0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,
                  5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"
                />
              </svg>
            </a>
          </li>


          <li class="nav_item">
            <a href="#" class="nav_link focus--box-shadow" role="menuitem" aria-label="Informational Messages">
              <svg
                class="nav_icon"
                xmlns="https://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                role="presentation">

                <path
                  d="M12,11a1,1,0,0,0-1,1v3a1,1,0,0,0,2,0V12A1,1,0,0,0,12,11Zm0-3a1,1,0,1,0,1,1A1,1,0,0,0,12,8Zm0-6A10,10,0,0,0,2,
                  12a9.89,9.89,0,0,0,2.26,6.33l-2,2a1,1,0,0,0-.21,1.09A1,1,0,0,0,3,22h9A10,10,0,0,0,12,2Zm0,18H5.41l.93-.93a1,1,0,0,0,.3-.71,1,1,0,0,
                  0-.3-.7A8,8,0,1,1,12,20Z"
                />
              </svg>
            </a>
          </li>


          <li class="nav_item">
            <a href="{% url 'manager:password_change_list' %}" class="nav_link focus--box-shadow" role="menuitem" aria-label="Collections">
              <svg
                class="nav_icon"
                xmlns="https://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                role="presentation">

                <path
                  d="M6,13H2a1,1,0,0,0-1,1v8a1,1,0,0,0,1,1H6a1,1,0,0,0,1-1V14A1,1,0,0,0,6,13ZM5,21H3V15H5ZM22,9H18a1,1,0,0,0-1,1V22a1,
                  1,0,0,0,1,1h4a1,1,0,0,0,1-1V10A1,1,0,0,0,22,9ZM21,21H19V11h2ZM14,1H10A1,1,0,0,0,9,2V22a1,1,0,0,0,1,1h4a1,1,0,0,0,1-1V2A1,1,0,
                  0,0,14,1ZM13,21H11V3h2Z"
                />
              </svg>
            </a>
          </li>


          <li class="nav_item">
            <a href="{% url 'manager:user_logout' %}" class="nav_link focus--box-shadow" role="menuitem" aria-label="Analytics">
              <svg
                class="nav_icon"
                xmlns="https://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                role="presentation">

                <path
                    d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,
                    7,0,0,1,11,18Z"
                />
              </svg>
            </a>
          </li>
        </ul>
      </nav>

      <main class="main">

        <header class="header">
          <div class="header__wrapper">
            <form action="" class="search">
              <button class="search__button focus--box-shadow" type="submit">
                <svg
                  class="search__icon"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  presentation="presentation"
                >
                  <path
                    d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,
                    1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z"
                  />
                </svg>
              </button>
              <input
                class="search__input focus--box-shadow"
                type="text"
                placeholder="Password search"
              />
            </form>
            <div class="profile">
              <button class="profile__button">
                <span class="profile__name">{{user.username}}</span>
                <img
                  class="profile__img"
                  src="{% static 'images/code.jpg' %}"
                  alt="Profile picture"
                  loading="lazy"
                />
              </button>
            </div>
          </div>
        </header>

        <section class="section">
          <header class="section__header">
            <h2 class="section__title">Manager Summary</h2>
          </header>
          <ul class="team">
            <li class="team__item">
              <a class="team__link focus--box-shadow" href="#">
                <div class="team__header">
                  <ul class="photo">
                    <li class="photo__item">
                      <span class="photo__substrate">+2</span>
                    </li>
                    <li class="photo__item">
                      <img
                        src="{% static 'images/about.jpg' %}"
                        alt="Jack's photo"
                      />
                    </li>
                    <li class="photo__item">
                      <img
                        src="{% static 'images/code.jpg' %}"
                        alt="Jessica's photo"
                      />
                    </li>
                  </ul>
                  <button
                    class="setting setting--absolute focus--box-shadow"
                    type="button"
                  >
                    <svg
                      enable-background="new 0 0 515.555 515.555"
                      height="512"
                      viewBox="0 0 515.555 515.555"
                      width="512"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="m303.347 18.875c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                      />
                      <path
                        d="m303.347 212.209c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                      />
                      <path
                        d="m303.347 405.541c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                      />
                    </svg>
                  </button>
                </div>
                <div class="team__inform">
                  <p class="team__name">Passwords generated</p>
                  <time class="date" datetime="2020-05-05T10:00:00"
                    >05 May, 2020</time
                  >
                </div>
              </a>
            </li>
            <li class="team__item">
              <a class="team__link focus--box-shadow" href="#">
                <div class="team__header">
                  <ul class="photo">
                    <li class="photo__item">
                      <span class="photo__substrate">+6</span>
                    </li>
                    <li class="photo__item">
                      <img
                        src="{% static 'images/codepurple.jpg' %}"
                        alt="Yulia's photo"
                      />
                    </li>
                    <li class="photo__item">
                      <img
                        src="{% static 'images/codepurple.jpg' %}"
                        alt="Jessica's photo"
                      />
                    </li>
                  </ul>
                  <button
                    class="setting setting--absolute focus--box-shadow"
                    type="button"
                  >
                    <svg
                      enable-background="new 0 0 515.555 515.555"
                      height="512"
                      viewBox="0 0 515.555 515.555"
                      width="512"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="m303.347 18.875c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                      />
                      <path
                        d="m303.347 212.209c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                      />
                      <path
                        d="m303.347 405.541c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                      />
                    </svg>
                  </button>
                </div>
                <div class="team__inform">
                  <p class="team__name">QR Images generated</p>
                  <time class="date" datetime="2020-05-01T10:00:00"
                    >01 May, 2020</time
                  >
                </div>
              </a>
            </li>
            <li class="team__item">
              <a class="team__link focus--box-shadow" href="#">
                <div class="team__header">
                  <ul class="photo">
                    <li class="photo__item">
                      <img
                        src="{% static 'images/pexels.jpg' %}"
                        alt="Jessica's photo"
                      />
                    </li>
                  </ul>
                  <button
                    class="setting setting--absolute focus--box-shadow"
                    type="button"
                  >
                    <svg
                      enable-background="new 0 0 515.555 515.555"
                      height="512"
                      viewBox="0 0 515.555 515.555"
                      width="512"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="m303.347 18.875c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                      />
                      <path
                        d="m303.347 212.209c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                      />
                      <path
                        d="m303.347 405.541c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                      />
                    </svg>
                  </button>
                </div>
                <div class="team__inform">
                  <p class="team__name">Recycled passwords</p>
                  <time class="date" datetime="2020-01-10T10:00:00"
                    >10 January, 2020</time
                  >
                </div>
              </a>
            </li>
          </ul>
        </section>


        <section class="section">
         <header class="section__header">
           <h2 class="section__title">Passwords</h2>
           <div class="section__control">
             <a href="{% url 'manager:password_add' %}">

               <button
                 class="section__button section__button--painted focus--box-shadow"
                 type="button"
                 aria-label="Add New project"
               >
                 <svg
                   xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 24 24"
                   role="presentation"
                 >
                   <path
                     d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z"
                   />
                 </svg>
               </button>

             </a>
           </div>
         </header>

         <ul class="project">

          {% for item in user_profile %}


           <li class="project__item">
             <a href="#" class="project__link focus--box-shadow">
               <div class="project__wrapper">

                 <div class="project__element project__icon">
                   <div
                     class="icon icon--viking"
                     aria-label="Icon of the 'Showcase Design' project"
                   >
                     <svg
                       xmlns="http://www.w3.org/2000/svg"
                       viewBox="0 0 24 24"
                       role="presentation"
                     >
                       <path
                         d="M7,10H9A1,1,0,0,0,9,8H7a1,1,0,0,0,0,2ZM21,4H13V3a1,1,0,0,0-2,0V4H3A1,1,0,0,0,2,5V15a3,3,0,0,0,3,3H9.59l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L11,19.41V21a1,1,0,0,0,2,0V19.41l2.29,2.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L14.41,18H19a3,3,0,0,0,3-3V5A1,1,0,0,0,21,4ZM20,15a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V6H20ZM7,14h6a1,1,0,0,0,0-2H7a1,1,0,0,0,0,2Z"
                       />
                     </svg>
                   </div>
                 </div>

                 <div class="project__element project__inform">
                   <span class="project__inform-name"
                     >{{ item.application_service_name }} | {{ item.application_service_url }}  </span
                   >
                 </div>

                 <div class="project__element project__inform">
                  <span class="project__inform-name"
                    >{{ item.registered_username }} | {{ item.registered_email_address }}  </span
                  >
                </div>


                 <div class="project__element project__date">
                   <time class="date" datetime="2020-05-05T10:00:00"
                     >{{ item.date_created}} </time
                   >
                 </div>


                 <div class="project__element project__status">
                   <span class="status status--published">Active</span>
                 </div>

                 <div class="project__element project__setting">
                   <button
                     class="setting setting--rotate focus--box-shadow"
                     type="button"
                     id="open-popup-btn"
                   >
                     <svg
                       enable-background="new 0 0 515.555 515.555"
                       height="512"
                       viewBox="0 0 515.555 515.555"
                       width="512"
                       xmlns="http://www.w3.org/2000/svg"
                     >
                       <path
                         d="m303.347 18.875c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                       />
                       <path
                         d="m303.347 212.209c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                       />
                       <path
                         d="m303.347 405.541c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                       />
                     </svg>
                   </button>
                 </div>
               </div>
             </a>
           </li>


           <div class="popup center">
            <div class="icon">
              <i class="fa fa-check"></i>
            </div>
            <div class="description">
              <button id="open-show-password-popup-btn">View Password</button>
            </div>
  
            <div class="description">
              <button id="open-delete-password-popup-btn">Recycle Password</button>
            </div>
  
            <div class="dismiss-btn">
              <button id="dismiss-popup-btn"> Dismiss </button>
            </div>
          </div>

          <div class="show-password-popup center">
            <div class="icon">
              <i class="fa fa-check"></i>
            </div>
  
            <div class="title">
              <button>Scan to copy Password</button>
            </div>
  
            <div class="description">
              <img src={{ item.qrcode_image }} alt="">
            </div>
  
            <div class="description">
              <button type="button" name="button">{{ item.registered_email_address }</button>
            </div><br>
  
            <div class="dismiss-btn">
              <button id="dismiss-show-password-popup-btn"> Dismiss </button>
            </div>
          </div>
  


                  
        <div class="delete-password-popup center">
          <div class="icon">
            <i class="fa fa-check"></i>
          </div>
          <div class="description">
            <button>Are you sure you want to delete this password?</button>
          </div>

          <div class="description">
            <button>There is no going back</button>
          </div>


          <div class="description">
            <button type="button" name="button">Continue</button>
          </div><br>

          <div class="dismiss-btn">
            <button id="dismiss-delete-password-popup-btn"> Dismiss </button>
          </div>
        </div>


   


           {% empty %}

           <li class="project__item">
             <a href="#" class="project__link focus--box-shadow">
               <div class="project__wrapper">
                 <div class="project__element project__icon">
                   <div
                     class="icon icon--rajah"
                     aria-label="Icon for the project 'Book cover design'"
                   >
                     <svg
                       xmlns="http://www.w3.org/2000/svg"
                       viewBox="0 0 24 24"
                       role="presentation"
                     >
                       <path
                         d="M15,6H9A1,1,0,0,0,8,7v4a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V7A1,1,0,0,0,15,6Zm-1,4H10V8h4Zm3-8H5A1,1,0,0,0,4,3V21a1,1,0,0,0,1,1H17a3,3,0,0,0,3-3V5A3,3,0,0,0,17,2Zm1,17a1,1,0,0,1-1,1H6V4H17a1,1,0,0,1,1,1Z"
                       />
                     </svg>
                   </div>
                 </div>
                 <div class="project__element project__inform">
                   <span class="project__inform-name">Book cover design</span>
                 </div>
                 <div class="project__element project__photo">
                   <ul class="photo">
                     <li class="photo__item">
                       <img
                         src="./img/seth-doyle-uJ8LNVCBjFQ-unsplash.jpg"
                         alt="Jessica's photo"
                       />
                     </li>
                   </ul>
                 </div>
                 <div class="project__element project__date">
                   <time class="date" datetime="2020-05-05T10:00:00"
                     >13 February, 2020</time
                   >
                 </div>
                 <div class="project__element project__status">
                   <span class="status status--published">Published</span>
                 </div>
                 <div class="project__element project__setting">
                   <button
                     class="setting setting--rotate focus--box-shadow"
                     type="button"
                   >
                     <svg
                       enable-background="new 0 0 515.555 515.555"
                       height="512"
                       viewBox="0 0 515.555 515.555"
                       width="512"
                       xmlns="http://www.w3.org/2000/svg"
                     >
                       <path
                         d="m303.347 18.875c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                       />
                       <path
                         d="m303.347 212.209c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                       />
                       <path
                         d="m303.347 405.541c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                       />
                     </svg>
                   </button>
                 </div>
               </div>
             </a>
           </li>

           <li class="project__item">
             <a href="#" class="project__link focus--box-shadow">
               <div class="project__wrapper">
                 <div class="project__element project__icon">
                   <div
                     class="icon icon--viking"
                     aria-label="Icon for the project 'Book cover design'"
                   >
                     <svg
                       xmlns="http://www.w3.org/2000/svg"
                       viewBox="0 0 24 24"
                       role="presentation"
                     >
                       <path
                         d="M14,18a1,1,0,0,0,1-1V15a1,1,0,0,0-2,0v2A1,1,0,0,0,14,18Zm-4,0a1,1,0,0,0,1-1V15a1,1,0,0,0-2,0v2A1,1,0,0,0,10,18ZM19,6H17.62L15.89,2.55a1,1,0,1,0-1.78.9L15.38,6H8.62L9.89,3.45a1,1,0,0,0-1.78-.9L6.38,6H5a3,3,0,0,0-.92,5.84l.74,7.46a3,3,0,0,0,3,2.7h8.38a3,3,0,0,0,3-2.7l.74-7.46A3,3,0,0,0,19,6ZM17.19,19.1a1,1,0,0,1-1,.9H7.81a1,1,0,0,1-1-.9L6.1,12H17.9ZM19,10H5A1,1,0,0,1,5,8H19a1,1,0,0,1,0,2Z"
                       />
                     </svg>
                   </div>
                 </div>
                 <div class="project__element project__inform">
                   <span class="project__inform-name"
                     >Logo redesign for eyeglass store</span
                   >
                 </div>
                 <div class="project__element project__photo">
                   <ul class="photo">
                     <li class="photo__item">
                       <img
                         src="./img/seth-doyle-uJ8LNVCBjFQ-unsplash.jpg"
                         alt="Jessica's photo"
                       />
                     </li>
                   </ul>
                 </div>
                 <div class="project__element project__date">
                   <time class="date" datetime="2020-05-05T10:00:00"
                     >01 February, 2020</time
                   >
                 </div>
                 <div class="project__element project__status">
                   <span class="status status--in-work">In work</span>
                 </div>
                 <div class="project__element project__setting">
                   <button
                     class="setting setting--rotate focus--box-shadow"
                     type="button"
                   >
                     <svg
                       enable-background="new 0 0 515.555 515.555"
                       height="512"
                       viewBox="0 0 515.555 515.555"
                       width="512"
                       xmlns="http://www.w3.org/2000/svg"
                     >
                       <path
                         d="m303.347 18.875c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                       />
                       <path
                         d="m303.347 212.209c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                       />
                       <path
                         d="m303.347 405.541c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                       />
                     </svg>
                   </button>
                 </div>
               </div>
             </a>
           </li>


           {% endfor %}


         </ul>


       </section>

      </main>




      <aside class="aside">

        <section class="section">
         <div class="aside__control">
           <button
             class="aside__button focus--box-shadow"
             type="button"
             aria-label="Close profile settings"
           >
             <svg
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24"
               role="presentation"
             >
               <path
                 d="M17,11H9.41l3.3-3.29a1,1,0,1,0-1.42-1.42l-5,5a1,1,0,0,0-.21.33,1,1,0,0,0,0,.76,1,1,0,0,0,.21.33l5,5a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L9.41,13H17a1,1,0,0,0,0-2Z"
               />
             </svg>
           </button>
           <button
             class="aside__button aside__button--notification focus--box-shadow"
             type="button"
             aria-label="You have new feedback"
           >
             <svg
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24"
               role="presentation"
             >
               <path
                 d="M18,13.18V10a6,6,0,0,0-5-5.91V3a1,1,0,0,0-2,0V4.09A6,6,0,0,0,6,10v3.18A3,3,0,0,0,4,16v2a1,1,0,0,0,1,1H8.14a4,4,0,0,0,7.72,0H19a1,1,0,0,0,1-1V16A3,3,0,0,0,18,13.18ZM8,10a4,4,0,0,1,8,0v3H8Zm4,10a2,2,0,0,1-1.72-1h3.44A2,2,0,0,1,12,20Zm6-3H6V16a1,1,0,0,1,1-1H17a1,1,0,0,1,1,1Z"
               />
             </svg>
           </button>
         </div>
         <div class="profile-main">
           <button
             class="profile-main__setting focus--box-shadow"
             type="button"
           >
             <img
               class="profile-main__photo"
               src="{% static 'images/code.jpg' %}"
               alt="Profile photo"
             />
           </button>
           <h1 class="profile-main__name">{{user.username}}</h1>
         </div>
         <ul class="statistics">
           <li class="statistics__entry">
             <a class="statistics__entry-description" href="#">Passwords</a
             ><span class="statistics__entry-quantity">5</span>
           </li>
           <li class="statistics__entry">
             <a class="statistics__entry-description" href="#">QR Images</a
             ><span class="statistics__entry-quantity">3</span>
           </li>
           <li class="statistics__entry">
             <a class="statistics__entry-description" href="#">Recycled</a
             ><span class="statistics__entry-quantity">48</span>
           </li>
         </ul>
         <div class="banner">
           <h3 class="banner__title">Support Sicherheit</h3>
           <p class="banner__description">Create passwords without limits</p>
           <button class="banner__button" type="button">
             Support Us Today
           </button>
         </div>
       </section>

      </aside>



    </div>

    <script src="{% static 'js/dialogs.js' %}"></script>
    
    
  </body>
</html>
