<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body"><h5 class="card-title">{{user.username}} Passwords</h5>
                <table class="table table-hover table-responsiv">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>App Name</th>
                        <th>App Url</th>
                        <th>Email Address</th>
                        <th>Username</th>
                        <th>Cypher Phrase</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in user_profile %}
                    <tr>
                        <th scope="row">{{ item.id }}</th>
                        <td>{{ item.application_service_name }}</td>
                        <td>{{ item.application_service_url }}</td>
                        <td>{{ item.registered_email_address }}</td>
                        <td>{{ item.registered_username }}</td>
                        <td>{{ item.password }}</td>
                        <td class="text-right">
                          <a href="{% url 'manager:password_change' item.pk %}" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                      <td>You haven't created passwords for any application service yet.</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

  </body>
</html>
